.card {
	width: 202px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card-image {
	width: 100%;
  height: 202px;
	object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
	width: 100%;
  padding: 0px 10px 10px;
}

.card-title {
	font-size: 2rem;
	font-weight: 500;
}

.card-designer {
	font-size: 1.8rem;
	font-weight: 400;
}

.card-categories {
	font-size: 1.4rem;
	font-weight: 300;
	margin-bottom: 5px;
}

.socials {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.card-likes {
	font-size: 1rem;
	font-weight: 200;
}

.card-views {
	font-size: 1rem;
	font-weight: 200;
}
