.form-card {
  width: 300px;
  min-height: 150px;
  padding: 10px 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  background: url(../../public/assets/images/rick_face.png) #f9f9f9;
  background-position: right 10px bottom 5px;
  background-repeat: no-repeat;
  background-size: 20%;
}

.form-card-title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 15px;
  color: #34FE0A;
}

.form-card-image {
  width: 40%;
  height: 70px;
  object-fit: cover;
  border-radius: 5px; 
}

.form-card-upper {
  width: 100%;
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.form-card-name,
.form-card-surname {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.form-card-surname {
  margin-bottom: 15px;
}

.form-card-gender {
  font-size: 1.2rem;
}

.form-card-birthday,
.form-card-country {
  font-size: 1.2rem;
  margin-bottom: 7px;
}