.form {
  width: 60%;
	margin: 0 auto;
	border: 1.5px solid #141414;
	border-radius: 5px;
	padding: 20px 30px;
	margin-top: 10px;
}

.form-title {
	text-align: center;
	margin-bottom: 20px;
}

label,
.countries-label {
	font-size: 1.2rem;
	padding-right: 5px;
}

.name-input,
.surname-input {
	width: 100%;
}

#username,
#user-surname,
#birth-date,
.select-bar {
	width: 100%;
	height: 25px;
	padding: 0 10px;
	border-radius: 5px;
	border: 1px solid #141414;
	margin-top: 3px;
}

.birth-input {
	width: 100%;
}

input[name="gender"] {
	margin-right: 25px;
}

.name-input,
.surname-input,
.birth-input,
.file-upload {
	margin-bottom: 5px;
}

.countries {
	margin-bottom: 10px;
}

input,
.select-bar:focus {
	outline: none;
}

.gender-title {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

.gender-radios {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.agreement {
	display: flex;
	align-items: center;
	gap: 7px;
	margin-bottom: 20px;
}

.button-submit {
	display: block;
	width: 120px;
	height: 35px;
	background-color: #141414;
	color: #FFFFFF;
	font-size: 1.4rem;
	border-radius: 5px;
	margin: 0 auto;
}

.error-message {
	color: #DD2255;
	font-size: 1rem;
}