.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: #dddddd;
}

.circle {
  width:20px;
  height: 20px;
  border-radius: 50%;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.7;
  animation: scale 1s infinite 
  cubic-bezier(0, 0, 0.49, 1.02);
}

.circle-1 {
  background-color: #4d4d4d;
}

.circle-1:before {
  background-color: #4d4d4d;
  animation-delay: 200ms;
}

.circle-2 {
  background-color: #3c3c3c;
}

.circle-2:before {
  background-color: #3c3c3c;
  animation-delay: 400ms;
}

.circle-3 {
  background-color: #1e1e1e;
}

.circle-3:before {
  background-color: #1e1e1e;
  animation-delay: 600ms;
}

.circle-4 {
  background-color: #111111;
}

.circle-4:before {
  background-color: #111111;
  animation-delay: 800ms;
}

.circle-5 {
  background-color: #000000;
}

.circle-5:before {
  background-color: #000000;
  animation-delay: 1000ms;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}
