.error-page-main {
	width: 100%;
	height: calc(100vh - 80px);
  background: url(../../public/assets/svg/404.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.about-page-main {
	width: 100%;
	height: calc(100vh - 80px);
  background: url(../../public/assets/images/about.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.home-error,
.modal-error {
	font-size: 3.8rem;
	font-weight: 500;
	margin-top: 50px;
	text-align: center;
}
