.search-bar {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  margin: 30px auto 10px;
}
.search-field {
  width: 100%;
  height: 30px;
  background-color: transparent;
  color: #000000;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 0 40px 0 15px;
  overflow: hidden;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}

.search-field::placeholder {
  color: #000000;
}

.search-field:focus {
  outline: none;
}

.button-search {
  position: absolute;
  right: 0;
  bottom: 0;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-left: 1px solid grey;
  background: url(../../public/assets/svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  transition: 0.3s;
}
